$container-width: 860px;
$medium-padding: 40px;

$section-color: #eeeeef;
$white-title: #ffffff;
$black-title: black;
$light-black: #384048;
$main-color: #50c3af;
$link-coolor: #787b80;
$button2: #d2d5da;

$medium-weight: 500;
$black-weight: 900;
$light-weight: 300;

$basic-font-stack: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
$heading-font-stack: PTSans-Bold, AdobeInvisFont, MyriadPro-Regular;

@mixin large-break-point {
  @media only screen and (max-width: 640px) {
    @content;
  }
}
@mixin small-break-point {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
