$container-width: 800px;
$medium-padding: 40px;

$color-1: #eeeeef;
$color-2: white;
$color-3: black;
$color-4: #384048;
$color-5: #50c3af;
$color-6: #787b80;
$color-7: #d2d5da;


$medium-weight: 500;
$black-weight: 900;
$light-weight: 300;

$basic-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-stack: 'Roboto', $basic-font-stack;

$medium-break-point: 1024px;
$small-break-point: 768px;
$xsmall-break-point: 480px;
