$container-width: 960px;
$medium-padding: 40px;

$color-1: white;
$color-2: #eeeeef;
$color-3: #2a2d2e;
$color-4: #9a9b9b;
$color-5: #acadae;

$medium-weight: 500;
$black-weight: 900;
$light-weight: 300;

$basic-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-stack: 'Roboto', $basic-font-stack;

$medium-break-point: 1024px;
$small-break-point: 768px;
$xsmall-break-point: 480px;
