.categories {
  background: $color-1;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: inline-block;
    text-align: center;
    max-width: 210px;
  }

  &__heading {
    position: relative;
    color: #384048;
    font-size: 15px;
    text-transform: uppercase;
    margin: 40px 0 50px;

    &:after {
      content: "";
      position: absolute;
      left: 35px;
      right: 35px;
      bottom: -25px;
      height: 2px;
      opacity: 0.06;
      background: $color-3;
    }
  }

  &__image {
    align-content: center;
    text-align: center;
    height: 35px;
    width: auto;
    margin-top: 40px;
  }

  &__article-heading {
    align-items: center;
  }

  &__text {
    margin-bottom: 80px;
    color: $color-6;
  }

  @include to640 {
    &__heading {
      font-size: 14px;
      margin: 30px 0 50px;
    }

    &__image {
      align-content: center;
      text-align: center;
      height: 35px;
      width: 41px;
    }

    &__text {
      margin-bottom: 40px;
      padding: 0 20px 0 20px;
    }
  }
}
