.categories {
  background: $color-1;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: inline-block;
    text-align: center;
    max-width: 210px;
  }

  &__heading {
    position: relative;
    color: #384048;
    font-size: 12pt;
    text-transform: uppercase;
    margin: 40px 0 50px;

    &:after {
      content: "";
      position: absolute;
      left: 35px;
      right: 35px;
      bottom: -2rem;
      height: 2px;
      opacity: 0.06;
      background: $color-3;
    }
  }

  &__image {
    align-content: center;
    text-align: center;
    min-height: 45px;
    margin-top: 80px;
  }

  &__article-heading {
    align-items: center;
  }

  &__text {
    margin-bottom: 80px;
    color: $color-6;
  }
}

