.featured {
  background: $main-color;

  &__heading {
    position: relative;
    color: $white-title;
    font-size: 12pt;
    font-family: $heading-font-stack;
    text-transform: uppercase;
    margin: 40px 0 50px;

    &:after {
      content: "";
      position: absolute;
      left: 200px;
      right: 200px;
      bottom: -25px;
      height: 2px;
      opacity: 0.06;
      background: $white-title;
    }
  }

  &__menu {
    margin: 10px 0 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
    opacity: 0.6;
    padding: 20px 0 40px 0;

    &-item {
      display: inline-block;
      font-size: 28px;
      line-height: 18px;
    }

    &-one {
      font-family: myBelinda;
    }

    &-two {
      font-family: NexaRegular;
    }

    &-three {
      font-family: Cabin-Regular;
    }

    &-four {
      font-family: Nexa-Heavy;
    }
  }

  &__content {
    text-align: center;
    color: $white-title;
  }

  &__icon {
    opacity: 0.4;
    font-size: 20px;
    color: $white-title;
    padding: 0 10px 0 0;
  }

  @include large-break-point {
    &__heading {
      margin: 40px 0 20px;
      &:after {
        display: none;
      }
    }

    &__menu {
      margin: 10px 0 20px;
    }
  }
  @include small-break-point {
    &__menu {
      &-item {
        font-size: 18px;
        line-height: 14px;
      }
    }
  }
}
