.footer {
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__copyright {
    opacity: 0.8;
  }

  &__light {
    opacity: 0.5;
  }

  &__link {
    text-decoration-line: none;
    color: $color-6;
    &:hover {
      text-decoration: underline;
      color: darken($color-6, 40%);
    }
  }

  &__item {
    margin: 20px;
    font-family: $basic-font-stack;
    font-weight: normal;
    color: $color-6;
    font-size: 15px;
  }

  &__icon {
    margin: 0 5px 0 5px;
    color: $color-6;
    &:hover {
      color: darken($color-6, 40%);
    }
  }

  @include to640 {
  }
  @include to480 {
    &__item {
      font-size: 12px;
    }
  }
}
