.text {
  font: normal normal 14px 'Roboto', $basic-font-stack;
  color: $color-3;
  line-height: 24px;
  letter-spacing: .01em;

  @media only screen and (max-width: $small-break-point) {
    font-size: 12px;
  }
}
