.themeforest {
  background: $color-2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: inline-block;
    max-width: 380px;
    font-family: PTSans-Bold, AdobeInvisFont, MyriadPro-Regular;
  }

  &__heading {
    position: relative;
    color: #40474e;
    font-size: 12pt;
    text-transform: uppercase;
    margin: 60px 0 65px;
    font-family: $heading-font-stack;
    font-size: 15pt;

    &:after {
      content: "";
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: -25px;
      height: 2px;
      opacity: 0.06;
      background: linear-gradient(to right, black, #b8b8b8);
    }
  }

  &__button {
    font: normal $medium-weight 18px 'Roboto', $basic-font-stack;
    border: 0 none;
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px 0 60px 0;
    background: $color-7;
 }

  &__image {
    -webkit-clip-path: inset(123px 211px 2px 22px);
    clip-path: inset(123px 211px 2px 22px);  
    margin-top: -120px;
  }

  &__text {
    margin-bottom: 20px;
    color: $color-6; 
  }

  &__button-text {
    font-size: 14px;
  }

  @include to640 {
    &__content {
      flex-direction: column;
      text-align: center;
    }

    &__image-container {
      max-width: 320px;
      margin-top: 40px
    }
    
    &__heading {
      margin: 40px 0 45px;
    }

    &__text {
      text-align: left;
      padding: 0 10px 0 10px;
    }

    &__button {
      margin-bottom: 40px;
    }
  }
}